{% extends 'admin.html.twig' %}

{% block title %}Inicio{% endblock %}
{% block page_title %}{% endblock %}

{% block page_content %}

{#    <div class="row">#}

{#        <div class="col-lg-3 col-xs-6">#}
{#            <div class="small-box bg-aqua">#}
{#                <div class="inner">#}
{#                    <h3>{{ vehiculos }}</h3>#}

{#                    <p>Vehículos Importados</p>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="fas fa-car"></i>#}
{#                </div>#}
{#                <a href="{{ path('vehiculos.list') }}" class="small-box-footer">Ver vehículos <i class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}

{#        {% if app.user.isTipoAdministrador() %}#}
{#        <div class="col-lg-3 col-xs-6">#}
{#            <div class="small-box bg-green">#}
{#                <div class="inner">#}
{#                    <h3>{{ administradores }}</h3>#}

{#                    <p>Administradores</p>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="fas fa-user"></i>#}
{#                </div>#}
{#                <a href="{{ path('usuario_index', {'tipo': 'Administrador'}) }}" class="small-box-footer">Ver administradores <i class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        {% endif %}#}

{#        {% if app.user.isTipoAdministrador() %}#}
{#        <div class="col-lg-3 col-xs-6">#}
{#            <div class="small-box bg-yellow">#}
{#                <div class="inner">#}
{#                    <h3>{{ usuarios }}</h3>#}

{#                    <p>Usuarios</p>#}
{#                </div>#}
{#                <div class="icon">#}
{#                    <i class="fas fa-user"></i>#}
{#                </div>#}
{#                <a href="{{ path('usuario_index', {'tipo': 'Usuario'}) }}" class="small-box-footer">Ver usuarios <i class="fa fa-arrow-circle-right"></i></a>#}
{#            </div>#}
{#        </div>#}
{#        {% endif %}#}

{#    </div>#}

{% endblock %}
